body {
    background: white;
}
/* Стили для верхнего меню */
#top-menu {
  background-color: coral; /* Цвет фона меню */
  color: #fff; /* Цвет текста в меню */
  padding: 20px; /* Внутренний отступ меню */
  text-align: center; /* Выравнивание текста по центру */
  height: 40%; /* Высота верхнего меню (настройте по вашему желанию) */
  width: 100%; /* Ширина верхнего меню (настройте по вашему желанию) */
}

/* Стили для ссылок в меню */
#top-menu a {
  color: #fff; /* Цвет ссылок */
  text-decoration: none; /* Убрать подчеркивание под ссылками */
  margin-right: 25px; /* Отступ между ссылками */
}

/* Стили для активной ссылки (например, текущей страницы) */
#top-menu a {
  font-weight: bold; /* Жирный текст для активной ссылки */
  transition: all .6s ease;
  display: inline-block;

}

/* Эффект при наведении на ссылку */
#top-menu a:hover {
  color: white; /* Изменение цвета ссылки при наведении */
  text-decoration: none;
  transform: scale(1.25);
}
/* CSS для центрирования изображения */
.centered-image {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
  height: 80vh; /* Высота будет занимать всю видимую область экрана */
}

/* Стилизация изображения (опционально) */
.centered-image img {
  max-width: 100%; /* Максимальная ширина изображения, чтобы не выходить за пределы родительского контейнера */
  max-height: 100%; /* Максимальная высота изображения */
}
#top-menu .c {
  font-size: 25px;
  font-weight: bold;
}


